header {
    background:blue
   }

.logo {
color: #fff ;
text-align: center;
font-size: 30px
}

h2 {
    color:rgb(84, 238, 13)
}

h3 {
    color:rgb(98, 84, 228)
}

.data {

    color: red;
    text-align: center

}